.card-comment{
    min-height: 100%;
    width: 390px;
}

/* icons */

.card-comment .card-body .icon{
    padding-right: 10px;
}
.card-comment .card-body .icon-user{
    padding-left: 20px;
    color: #6f5746;
}

/* nom */

.card-comment .card-body .nom{
    font-weight: bold;
    color: #d16313;
    margin: 0px;
}

/* comment */

.card-comment .card-body .comment{
    padding-top: 20px;
}

/* note */

.card-comment .card-body .nom-note{
    display: flex;
    gap: 30px;
}
