.carte-transport{
    width: 350px;
}

/* nom transport */

.carte-transport .card-body .nom-transport{
    text-align: center;
    font-weight: bold;
    color: #d16313;
}
.carte-transport:hover{
    transform: scale(105%);
    z-index: 1;
}

