@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.ContentAccueil #premier-section p{
    text-align: center;
    color: #d16313;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.ContentAccueil #premier-section .image-couple{
    height: 70vh;
    width: 65vw;
}

.ContentAccueil .ligne{
    border: none;
    border-radius: 10px;
    height: 4px;
    background-color: #e87c2f;
    width: 50%;
    margin: 20px auto; 
}

.ContentAccueil section .titre{
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
    font-family: "Playfair Display", serif;
    margin-left: 20px;
    margin-bottom: 30px;
    border-left: 6px solid #FF6B00;
    padding-left: 10px;
}


.ContentAccueil #derniers-voyages .album-voyages{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    margin-bottom: 30px;
}
.ContentAccueil #derniers-voyages .album-voyages .image{
    padding: 2px;
}



.ContentAccueil #nos-transports .moyen-transport{
    padding: 0px 0px 5px 65px;
}
.ContentAccueil #nos-transports .album-transport{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 15px 30px 15px;
}
.ContentAccueil #nos-transports .album-transport .image-transport{
    display: flex;
    justify-content: center;
    padding: 6px;
}




.ContentAccueil #commentaires .comments {
    display: flex;
    overflow: auto;
    gap: 10px;
    padding-left: 30px;
}

.ContentAccueil #commentaires .border-comment{
    border: 2px solid #d1621389;
    border-radius: 8px;
}

