/* background footer */

.footer{
    background-color:rgb(82, 180, 180) ;
    bottom: 0px;
    left: 0px;
    margin-top:30px ;
    min-width: 100%;
} 

/* Titre */

.footer .oragnisateurs h3,
.footer .Navigation h3,
.footer .resaux-sociaux h3{
    display: flex;
    align-items: center;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: clamp(13px, 2vw, 25px);
}

/* Liens */

.footer .oragnisateurs li,
.footer .Navigation a,
.footer .resaux-sociaux a{

    color: white;
    text-transform:capitalize ;
    text-decoration: none;
    cursor: pointer;
    font-size: clamp(10px, 2vw, 17px);
}
.footer .oragnisateurs ul,
.footer .Navigation ul,
.footer .resaux-sociaux ul{
    list-style: none;
}

.footer .oragnisateurs li,
.footer .Navigation-list li,
.footer .resaux-sociaux li{
    margin-bottom: 10px;
}

.footer .oragnisateurs li:hover,
.footer .Navigation-list a:hover,
.footer .resaux-sociaux-list li:hover{
    transform: scale(110%);
} 

/* icons */

.footer .oragnisateurs .icon,
.footer .Navigation .icon,
.footer .resaux-sociaux .icon{
    padding-right: 5px;
    color: #f8c5a0;
}

/* copyright */

.footer .copyright{
    padding-bottom: 1px;
    opacity: 0.9;
}

@media (max-width: 768px) {
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer .oragnisateurs h3,
    .footer .Navigation h3,
    .footer .resaux-sociaux h3{
        flex-wrap: nowrap;
        padding-bottom: 10px;
    }
    .footer .oragnisateurs li,
    .footer .Navigation-list li,
    .footer .resaux-sociaux li{
        display: flex;
        align-items: center;
        margin-left: -15px;
    }
}
